<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header class="site-header">
        <div class="wrapper site-header__wrapper">
          <img class="logo" src="/images/Online Working Tree-logos.jpeg" >
          <nav class="nav">
            <ul class="nav__wrapper">
              <li class="nav__item"><a href="/">HOME</a></li>
              <li class="nav__item"><a href="/user/add">ADD TO DO</a></li>
              <li class="nav__item"><a href="/user/list">SEE TO DO</a></li>
            </ul>
          </nav>
        </div>
      </header>

    <div class="home_text">
    <div class="absolute">
    <h1>Work anytime, anywhere with your team...</h1>
    <img class="home" src="/images/Minimal-2020-Desktop-Calendar-Wallpaper-Free-Download-by-The-Savvy-Heart-Interior-Design-Studio.jpeg" >
     </div>
    </div>
    
    <footer>
      <div class="footer">
        <div class="sentence">
          <p class="SenP">Organization is better than river of ideas!</p>
        </div>
        <div class="credits">
          <p class="cred1">Made by Sohta, Sota, Juan, Shouki, Kyoko.</p>
        </div>
      </div>
    </footer>
    
</body>
</html>